[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
markdown = "*"
django-filter = "*"
pinecone-client = "*"
openai = "*"
langchain = "*"
python-dotenv = "*"
django-environ = "*"
google-search-results = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
